<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<!-- General description of the web application -->
	<display-name>Online Leave Management System</display-name>
	<description>
    </description>
	<!-- Error Page Configs -->
	<error-page>
		<error-code>404</error-code>
		<location>/error_handlers/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/error_handlers/400.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error_handlers/500.html</location>
	</error-page>

</web-app>
