<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<!-- General description of the web application -->
	<display-name>Online Leave Management System</display-name>
	<description>
    </description>
	<session-config>
		<session-timeout>60</session-timeout> <!-- 60 minutes -->
		<cookie-config>
			<!-- <http-only>true</http-only> -->
			<!-- <secure>true</secure> -->
		</cookie-config>
	</session-config>
	<!-- A filter that triggers request parameters parsing and rejects the -->
	<!-- request if some parameters were skipped because of parsing errors or -->
	<!-- request size limitations. -->
	<filter>
		<filter-name>failedRequestFilter</filter-name>
		<filter-class>org.apache.catalina.filters.FailedRequestFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<!-- Leave Application Details JSP Mapping -->
	<servlet>
		<servlet-name>employeeApplictionDetails</servlet-name>
		<jsp-file>/employee/application/index.jsp</jsp-file>
		<init-param>
			<param-name>detailsPage</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeApplictionDetails</servlet-name>
		<url-pattern>/employee/application/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>managerApplictionDetails</servlet-name>
		<jsp-file>/manager/application/index.jsp</jsp-file>
		<init-param>
			<param-name>detailsPage</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>managerApplictionDetails</servlet-name>
		<url-pattern>/manager/application/*</url-pattern>
	</servlet-mapping>

	<!-- Error Page Configs -->
	<error-page>
		<error-code>404</error-code>
		<location>/error_handlers/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/error_handlers/400.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error_handlers/500.html</location>
	</error-page>

</web-app>
